- content_for :wheeler do
  = image_tag @current_wheeler.profile.avatar, width: '100%'
.hero-unit
  %h2
    It's been
    %strong= time_ago_in_words(@current_wheeler.created_at)
    since
    %strong= @current_wheeler.profile
    broke Tapjoy.
  - if @max_wheeler
    %p The record for uptime is <strong>#{@max_wheeler.uptime_in_words}</strong>, which was broken by <strong>#{@max_wheeler.profile}</strong>.
- @wheelers.each do |wheeler|
  .row
    .span3
      = image_tag wheeler.profile.avatar.thumb
      = image_tag wheeler.lgtm_employee.profile.avatar.thumb if wheeler.lgtm_employee
    .span4
      %h3= "#{wheeler.profile}'s wheeler on #{l wheeler.created_at, format: :short}"
      - if wheeler.lgtm_employee
        %p lgtm'ed by: #{wheeler.lgtm_employee}
      %blockquote
        %p= wheeler.description
        %small= wheeler.reporter
= paginate @wheelers
